body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list {
  color : red;
  text-align: start;
  /* border: 5px solid black; */
}

.list-body {
  border: 3px solid black;
  margin: 30px;
  border-radius: 20px;
  background-color: aquamarine;
  max-width: 500px;
}

li {
  margin: 10px 0px 10px 0px;
}
